[Desktop Entry]
Name=ytDownloader
Comment=Download videos from hundreds of sites
Exec=ytdownloader
Terminal=false
Icon=/usr/local/share/pixmaps/ytDownloader.png
Type=Application
StartupNotify=false
Categories=Network;Utilities;
